.relative{
    position: relative;
}

.absolute {
    position: absolute;
    right: 0rem;
    top: 0rem;
}
.pic {
    width: 10rem;
    height: 10rem;
    border: dashed 2px black;
    border-radius: 4px;

}

.line1 {
    width: 14.04rem;
    height: 14.04rem;
    border-bottom: 2px dashed gray;
    -webkit-transform:
        translateY(-7.07rem)
        translateX(2.84rem)
        rotate(45deg); 
    position: absolute;
    /* top: -20px; */
}
.line2 {
    width: 14.04rem;
    height: 14.04rem;
    border-bottom: 2px dashed gray;
    -webkit-transform:
        translateY(-7.07rem)
        translateX(-7.07rem)
        rotate(-45deg);
    position: absolute;
    /* top: -33px;
    left: -13px; */
}




.uploadfilecontainer {
    /* background-image: url("../../assets/cloud-2044823_960_720.png"); */
    background-repeat: no-repeat;
    /* background-size: 100px; */
    background-position: center;
    height: 10rem;
    /* width: 80%; */
    /* margin: 20px auto; */
    border: 2px dashed #1C8ADB;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}